%TMPL:INCLUDE{"viewplain"}%
%TMPL:INCLUDE{"twofactorbase"}%
%TMPL:DEF{"bodyclass"}%natTwoFactorAuthBody natCenteredBody%TMPL:END%
%TMPL:DEF{"form"}%%TMPL:END%
%TMPL:DEF{"revinfo"}%%TMPL:END%
%TMPL:DEF{"searchbox"}%%TMPL:END%
%TMPL:DEF{"topicactions"}%%TMPL:END%
%TMPL:DEF{"langswitcher"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"metadata"}%%TMPL:END%
%TMPL:DEF{"breadcrumbs::tail"}%%TMPL:P{"sep"}%<a href="%SCRIPTURLPATH{"view"}%/%BASEWEB%/%BASETOPIC%?template=twofactorauth">%MAKETEXT{"Two-factor authentication"}%</a>%TMPL:END%
