%TMPL:INCLUDE{"login"}%

%TMPL:DEF{"webaction"}%%MAKETEXT{"Two-factor authentication"}%%TMPL:END%

%TMPL:DEF{"title"}%<h2>%MAKETEXT{"Please enter the access code."}%</h2>%TMPL:END%
%TMPL:DEF{"UNRECOGNISED_USER"}%%MAKETEXT{"Error, access code does not match."}%%TMPL:END%

%TMPL:DEF{"usernamestep"}%<input type='hidden' name='username' value='%LOGINNAME%' />%TMPL:END%

%TMPL:DEF{"passwordstep"}%<div class="foswikiFormStep">
<input type='text' class='foswikiInputField jqCodeInput' size='6' name='accesscode' data-separator="-" data-focus-char="0" />
</div>%JQREQUIRE{"codeinput"}%%TMPL:END%
